<div class="mat-card" id="state-tracker">
    <h5 class="title">Tracking States Making Progress</h5>    
    <div class="legend">
        <mat-chip-list aria-label="Gating score">
            <mat-chip color="poor" selected>Trending poorly</mat-chip>
            <mat-chip color="progress" selected>Making progress</mat-chip>
            <mat-chip color="better" selected>Trending better</mat-chip>
        </mat-chip-list>
    </div>
    <div>
        <iframe src="https://datawrapper.dwcdn.net/RsXBU/36/" scrolling=no frameborder=no height="400" width="420"></iframe>
    </div>
</div>
