<div parallax id="public">

    <mat-toolbar class="transparent">
        <span class="logo"><img src="/assets/img/mkp_logo3.png" alt="MKP Capital Managament"></span>
        <span class="empty-space"></span>   
        <a class="navlink" href="#" [routerLink]="['/public/landing']">Home</a> |
        <span class="navlink active">About</span> | 
        <a class="navlink" href="#" [routerLink]="['/public/login']"><span>Login</span></a>
    </mat-toolbar>

    <div class="content">
        <div class="container">
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile>
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    
    </div>
   
</div>