<div class="wrap">
  <mat-toolbar>
    <span class="toolbar-heading"> Missing Closes List </span>
    <span class="toolbar-spacer"></span>
    <mat-slide-toggle style="margin-left: 1.5rem;" [checked]="false" (change)="onToggleChange($event)">
      <span class="slide-toggle-label" style="margin-left:2px">
          Show Closed Positions
      </span>
  </mat-slide-toggle>
  </mat-toolbar>
  <app-base-grid
    style="height: 100%;width: 100%"
    [gridItems]="missingCloses"
    [customGridOption]="customGridOption"
    [extraOption]="extraOption"
    [customGridCallBack]="customGridCallBack">
  </app-base-grid>
</div>