<!-- <p>
  create-new-portfolio-popup works!
</p> -->
<h1 mat-dialog-title>Create New Portfolio</h1>

<div mat-dialog-content>
  <form>
    <!-- <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput type="text" required [(ngModel)]="newPortFolio.portfolioId" name="portfolioId">
    </mat-form-field> -->

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" required [(ngModel)]="newPortFolio.name" name="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Owner</mat-label>
        <input matInput type="text" required [(ngModel)]="newPortFolio.owner" name="owner">
      </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Visibility</mat-label>
      <mat-select required [(ngModel)]="newPortFolio.visibility" name="visibility">
        <mat-option value="Public">Public</mat-option>
        <mat-option value="Private">Private</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput type="text" required disabled value="MKP Inventory">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Source</mat-label>
      <input matInput type="text" required disabled value="MAP">
    </mat-form-field>
  </form>

  <h4 *ngIf="showTable">Selected Pool Items</h4>
  <div style="width: 100%; overflow: auto; max-height: 16rem" *ngIf="showTable">
    <table mat-table [dataSource]='data'>
      <ng-container *ngFor="let displayedColumn of displayedColumns" [matColumnDef]="displayedColumn" [sticky]="displayedColumn ==='cusip'">
        <th mat-header-cell *matHeaderCellDef>{{displayedColumn}}</th>
        <td mat-cell *matCellDef="let element"> {{element[displayedColumn]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<!-- 
  {{newPortFolio | json}} -->
  
</div>

<!-- <mat-divider></mat-divider> -->

<div mat-dialog-actions>
  <button mat-button (click)="onCreateNewPortfolio()">Save</button>
  <button mat-button (click)="onCloseClick()">Close</button>
</div>