<div class="event-analysis-top-edge" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <small>Order Book Help</small> 
    <i class="material-icons" style="cursor: pointer;" (click)="onClose()">close</i>
</div>

<div class="vertical-flex" style="flex: 1 0 0; padding: 1rem; font-size: 0.8rem;">

    <p>
        **Please read the below instructions for opertions on the Order Book Screen:
    </p>

    <h4>ADD NEW ORDERS</h4>
    <p>
        To add a new order to Order Book, click on ADD ORDER button. A flyout will appear on the right of 
        the screen. Populate all the fields for the order and hit save.
    </p>

    <h4>EDIT EXISTING ORDERS</h4>
    <p>
        If you need to edit an existing order, select the order on the orderbook and lock the order by checking the 
        lock checkbox. Checking the lock on the order does the follow:
    </p>
    <p>
        a) Brings the order into edit mode and opens a flyout on the right of the screen with all fields for the order
        populated. Edit the order and hit Save.
    </p>

    <p>
        b) After the order is saved, the flyout disappears and order is moved to an unlocked state.
    </p>

</div>