<div class="vertical-flex-full-height">
    <app-tagging-params
        [selectedDateRange]="selectedDateRange$ | async"
        (dateRangeChanged)="changeDateRange($event)"></app-tagging-params>

    <mat-tab-group style="flex: 1 0 0" (selectedTabChange)="tabChanged($event)">

        <!-- <mat-tab label="Security Tags">
            <ng-template matTabContent>
                Show Security Tags here !!
            </ng-template>
        </mat-tab> -->

        <mat-tab label="Position Tags">
            <ng-template matTabContent>
                <app-position-tagging #positionTags
                    [tagTypes]="tags$ | async"
                    [positionTags]="positionTags$ | async"
                    [positionTagsLoading]="positionTagsLoading$ | async"
                    [positionTagsLoaded]="positionTagsLoaded$ | async"
                    [positionTagsError]="positionTagsError$ | async"
                    [lookups]="lookups$ | async"
                    [positionTagsUpdateResult]="positionTagsUpdateResult$ | async"
                    (onUpdatePositionTag)="onUpdatePositionTag($event)"></app-position-tagging>
            </ng-template>
        </mat-tab>

        <mat-tab label="Tradename Tags">
            <ng-template matTabContent>
                <app-tradename-tagging #tradeNameTags
                    [tagTypes]="tags$ | async"
                    [tradeNameTags]="tradeNameTags$ | async"
                    [tradeNameTagsLoading]="tradeNameTagsLoading$ | async"
                    [tradeNameTagsLoaded]="tradeNameTagsLoaded$ | async"
                    [tradeNameTagsError]="tradeNameTagsError$ | async"
                    [lookups]="lookups$ | async"
                    [tradeNameTagsUpdateResult]="tradeNameTagsUpdateResult$ | async"
                    (onUpdateTradeNameTag)="onUpdateTradeNameTag($event)"
                ></app-tradename-tagging>
            </ng-template>
        </mat-tab>

        <mat-tab label="Security Editor">
            <ng-template matTabContent>
                <app-security-editor-general-layout class="vertical-flex-full-height" style="flex: 1 0 0"></app-security-editor-general-layout>
            </ng-template>
        </mat-tab>

        <mat-tab label="Market Data Viewer">
            <ng-template matTabContent>
                <app-market-data-layout class="vertical-flex-full-height" style="flex: 1 0 0"></app-market-data-layout>
            </ng-template>
        </mat-tab>


    </mat-tab-group>
</div>