<div class="event-analysis-top-edge" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <i class="material-icons" style="cursor: pointer;" (click)="onClose()">close</i>
</div>

<div class="vertical-flex-full-height"
  style="height: 96%; padding: 0.5rem 1.2rem 1.2rem 1.2rem">

  <div class="tool-bar-section">
    <h4>Riskspan Reports</h4>
  
    <!-- <button mat-icon-button class="mat-button-shrink test-load-analysis-button" 
      color="primary" matTooltip="Select Analysis" (click)="onSelectRecord()">
      <mat-icon>play_circle_outline</mat-icon>
    </button> -->
  </div>

  <app-base-grid
    style="flex: 1 0 0"
    [gridItems]="records$ | async"
    [customGridOption]="customGridOption"
    [extraOption]="extraOption"
    [customGridCallBack]="customGridCallBack">
  </app-base-grid>
</div>
