h5 {
    font-family: 'Roboto';
}

hr {
    height: 1px; 
    color: black;
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.link-row{
    margin-left: 1rem;
}

app-tbareports-timeseries-plots {
    padding-top: 5rem;
    display: block;
}

