<div class="wrapper">

    <mat-toolbar>
        <span class="toolbar-heading"> Close Scenario Management </span>
    </mat-toolbar>
  
    <div class="content-wrap">
      <span> 
        Would you like to save your changes?
      </span>
      <div class="button-wrap">
        <button mat-button (click)="cancel()" style="background-color:#f1807e;">Cancel</button>
        <button mat-button (click)="save()" style="background-color:lightskyblue;margin-left: 2rem;">Save</button>
      </div>
    </div>
  
</div>