<div class="wrapper">
    <mat-toolbar class="mat-toolbar-dialog">
        <span class="toolbar-heading"> Delete Portfolio </span>
    </mat-toolbar>
    <div mat-dialog-actions class="input-wrapper">

      <span>
        Are you sure you want to delete this portfolio? 
      </span>
      
      <div class="btn-wrap">
        <button mat-button (click)="save()" style="background-color:lightskyblue">Yes</button>
        <button mat-button (click)="cancel()" style="background-color:#f1807e">No</button>
      </div>

    </div>
</div>