.blue{
    background-color: #20A8D8;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    color:white;
    font-size: 10px;
}

.green{
    background-color: #4DBD74;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    color:white;
    font-size: 10px;
}