#scatter-info {
    position: absolute;
    z-index: 1;
    font-size: 0.75rem;
    opacity: 0.5;
    top: 3rem;
    right: 3rem;
    width: 250px;
    background: white;
    border: 1px solid #80808057;
}

h5 {
    margin: 0.5rem;
    text-align: center;
    opacity: 0.5;
}

mat-button-toggle-group {
    position: absolute;
    top: 0.2rem;
}