app-cs-snapshots-inner-layout {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    height: 100%;
    position: relative;
    margin: 0 0.5rem 0.5rem 0.5rem;
    overflow-y: auto;
    margin-top: -0.5rem;
}