<div class="vertical-flex-full-height" style="width: 150px;">
  <div class="horizontal-flex-full-height" style="border-bottom: 1px solid #80808029; margin-bottom: 0.2rem; opacity: 0.6">
    <span>Stat</span>
    <span>Value</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Min</span>
    <span>{{min}}</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Max</span>
    <span>{{max}}</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Mean</span>
    <span>{{mean}}</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Spot</span>
    <span>{{spot}}</span>
  </div>
</div>
