<!-- <p>
  macro-package-data-tooltip works!
</p> -->
<div class="vertical-flex-full-height">
  <div class="horizontal-flex-full-height" style="border-bottom: 1px solid #80808029; margin-bottom: 0.2rem; opacity: 0.6;">
    <span>{{key}}</span>
    <span>Level</span>
    <span>Percent</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Min</span>
    <span>{{min}}</span>
    <span>{{minPercent}}%</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Max</span>
    <span>{{max}}</span>
    <span>{{maxPercent}}%</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Week(-1)</span>
    <span>{{week}}</span>
    <span>{{weekPercent}}%</span>
  </div>
  <div class="horizontal-flex-full-height">
    <span>Spot</span>
    <span>{{spot}}</span>
    <span>{{spotPercent}}%</span>
  </div>
</div>
