<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Main</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pricing-calculator-general-form
            [data]="data"
            [loading]="loading">
        </app-pricing-calculator-general-form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Classifications</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pricing-calculator-general-form
            [data]="data"
            [loading]="loading">
        </app-pricing-calculator-general-form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Security Parties</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pricing-calculator-general-form
            [data]="data"
            [loading]="loading">
        </app-pricing-calculator-general-form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Ratings</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pricing-calculator-general-form
            [data]="data"
            [loading]="loading">
        </app-pricing-calculator-general-form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Related Securities</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pricing-calculator-general-form
            [data]="data"
            [loading]="loading">
        </app-pricing-calculator-general-form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>IDs</mat-panel-title>
        </mat-expansion-panel-header>
        <app-pricing-calculator-general-form
            [data]="data"
            [loading]="loading">
        </app-pricing-calculator-general-form>
    </mat-expansion-panel>

</mat-accordion>