.event-analysis-top-edge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toolbar {
    display: flex;
    align-items: center;
    height:40px;
    padding: 0.5rem;
    box-shadow: 1px 1px 11px 0px #80808042;
}

.mat-dialog-content {
    // margin: 0.5rem 1rem;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    max-height: none;
}

.mat-dialog-actions {
    margin-bottom: 0;
}

::ng-deep mat-form-field {
    width: 100%;
}

::ng-deep .mat-calendar-body-cell.selected>.mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected:hover>.mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected>.mat-calendar-body-cell-content:hover {
    background-color: #673ab7 !important;
    color: #fff !important;
}

mat-chip {
    padding: 4px 9px !important;
}

.timeseries-selector-form { 
    width: 400px;
}

.date-form {
    width: 200px;
}