<!-- <div class="toolbar">
  <mat-form-field appearance="outline" class="outline-shrink">
    <mat-label>Countries</mat-label>
    <mat-select multiple [(ngModel)]="selectedCountry" (ngModelChange)="onSelectCountryChange()">
      <mat-option *ngFor="let country of countries" [value]="country">{{country.countryOrEntity}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="outline-shrink">
    <mat-label>Categories</mat-label>
    <mat-select multiple [(ngModel)]="selectedColumns" (ngModelChange)="onSelectedColumnsChange()">
      <mat-option *ngFor="let column of columns" [value]="column">{{column}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="outline-shrink">
    <mat-label>Scale</mat-label>
    <mat-select [(ngModel)]="selectedScale" (ngModelChange)="onSelectScaleChange()">
      <mat-option [value]="'basic'">Basic</mat-option>
      <mat-option [value]="'logarithmic'">Logarithmic</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="outline-shrink">
    <mat-label>X Axis</mat-label>
    <mat-select [(ngModel)]="selectedXaxis" (ngModelChange)="onSelectXaxisChange()">
      <mat-option [value]="'date'">Date</mat-option>
      <mat-option [value]="'days'">Days</mat-option>
    </mat-select>
  </mat-form-field>

</div> -->
