h5 {
    margin: 1rem 0 0.5rem 0.5rem;
    font-size: 1rem;
    opacity: 0.5;
}

app-snr-macro-quarterly-gdp-plot-viewer {
    width: 100%;
}

.missing-files {
    display: flex;
    width: 100%;
    display: flex;
    align-content: stretch;
}

// div.mat-card-lift {
//     flex: 1 0 auto; 
//     height: 33rem; 
//     width: 50%;
//     margin: 0.25rem
// }

// .mat-card-lift {
//     margin: 0.25rem;
// }