#daily-tracking-tsy-swaps {
    grid-column: 1 / 18;
    grid-row: 1 / 5 ; 
}

#daily-tracking-tsy-swaps.compact-mat-card {
    height: 25vh
    // grid-column: 1 / 18;
    // grid-row: 1 / 5;
}

#daily-tracking-box-mbs-raw {
    grid-column: 1 / 10;
    grid-row: 5 / 15;
}

#daily-tracking-box-mbs-raw.compact-mat-card {
    height: 74vh;
    // grid-column: 1 / 10;
    // grid-row: 5 / 15;
}

#daily-tracking-box-mbs-risk {
    grid-column: 10 / 18;
    grid-row: 5 / 15;
}

#daily-tracking-box-mbs-risk.compact-mat-card {
    height: 74vh
    // grid-column: 10 / 18;
    // grid-row: 5 / 30;
}

#daily-tracking-box-closes {
    grid-column: 18 / 23;
    grid-row: 1 / 15;    
}

#daily-tracking-box-history {
    grid-column: 1 / 23;
    grid-row: 15 / 21;
}
 
.mat-card {
    margin: 0.3rem;
    box-shadow: 0 2px 7px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
    padding: 0.4rem;
    box-sizing: border-box;
}

.mat-card.compact-mat-card {
    margin: 0;
    padding: 0;
}

@media print
{
    .mat-card { 
        margin: 0.3rem;
        box-shadow: none;
        padding: 0.4rem;
        box-sizing: none;
    }

    #daily-tracking-tsy-swaps { 
        grid-column: 1 / 11;    
        grid-row: 1 / 5 ;     
    }

    #daily-tracking-box-mbs-raw { 
        grid-column: 1 / 5;    
        grid-row: 5 / 21 ;     
    }
    

    #daily-tracking-box-mbs-risk { 
        grid-column: 5 / 11;    
        grid-row: 5 / 21 ;     
    }
}

mat-toolbar{
    grid-row: 1;
    grid-column: 1 / 23;
}

.grid-wrap{
    height: calc(100vh - 60px);
    display: grid;
}
