@import './variables';

@mixin timestamp{
    color: red;
    font-size: 12px;
    opacity: 1;
}

@mixin vertical-divider-small {
    height: 2.2rem;
    width: 1px;
    display: block;
    background: white;
    opacity: 0.5;
}

@mixin spacer{
    flex: 1 1 auto;
}

@mixin horizontal-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin vertical-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// @mixin nav-tab{
//     background-color: $tab-bg-color-primary;
//     height: $tab-height;
//     padding: $tab-padding;
//     border: $tab-border;
//     color: $tab-font-color;
//     opacity: $tab-opacity;
//     border-radius: $tab-border-radius;
//     font-size: $tab-font-size;
// } 