<!-- <p>pricing-calculator-general-form works!</p> -->

<!-- {{data | json}} -->
<!-- <div style="max-width: 63rem;margin: 2rem auto;">
    hellow
</div> -->



<!-- <div style="max-width: 80rem; margin: 2rem auto;text-align: center;">
    <div *ngFor="let field of data.input" [ngSwitch]="field?.uiType" style="display: inline-block">
        <mat-form-field style="width: 25rem; margin-right: 1rem;" *ngSwitchCase="'string'">
            <mat-label>{{field.fieldName}}</mat-label>
            <input matInput type="text" autocomplete="off">
        </mat-form-field>
    
        <mat-form-field style="width: 25rem; margin-right: 1rem;" *ngSwitchCase="'number'">
            <mat-label>{{field.fieldName}}</mat-label>
            <input matInput type="number" autocomplete="off">
        </mat-form-field>

        <mat-form-field style="width: 25rem; margin-right: 1rem;" *ngSwitchCase="'dropdown'">
            <mat-label>{{field.fieldName}}</mat-label>
            <mat-select>
                <mat-option>default</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 25rem;margin-right: 1rem;" *ngSwitchCase="'date'">
            <mat-label>{{field.fieldName}}</mat-label>
            <input matInput [matDatepicker]="picker" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div> -->

<button mat-flat-button color="primary">Save</button>


    