a {
    color: #85d9ff;
    cursor: pointer;
    display: inline-flex;
}

p {
    font-size: 0.8rem;
    padding: 0.5rem;
    font-style: italic;
    opacity: 0.8;
    background: #00000057;
    margin: 0.4rem;
}