<div style="display:flex;justify-content:center;align-items:center;width:50%">
    <div style="width:100%;justify-content: center;display: flex;">
        <form [formGroup]="searchForm" style="width:100%;justify-content:center;align-items: center;padding:20px;">
            <mat-form-field>
                <input matInput placeholder="Search Ticker, CUSIP, ISIN, Other..." formControlName="searchText" type="text"
                    autocomplete="off" (keyup)="handleKeyUpEvent_debounce($event)">
            </mat-form-field>
        </form>
    </div>    
</div>

{{ searchForm.value | json }}
