
<div class="vertical-flex-full-height">
    <app-security-editor-searcher
        *ngIf="mode === 'normal'"
        class="horizontal-flex"
        style="justify-content: flex-end;"
        (searchSecurities)="searchSecurities($event)">
    </app-security-editor-searcher>


    <div class="horizontal-flex" style="flex: 1 0 0">
        <div class="vertical-flex-full-height" style="flex: 6 0 0">
            <app-security-editor-search-result-viewer
                *ngIf="mode === 'normal'"
                style="flex: 1 0 0"
                class="mat-card mat-card-shadow-adjust"
                [searchResults]="searchResults$ | async"
                (securitySelected)="securitySelected($event)">
            </app-security-editor-search-result-viewer>
            <app-security-editor-tags-viewer
                style="flex: 1 0 0"
                class="mat-card mat-card-shadow-adjust vertical-flex"
                [selectedSID]="selectedSID$ | async"
                [selectedSecurity]="selectedSecurity$ | async"
                [securityLoading]="securityLoading$ | async"
                [securityLoaded]="securityLoaded$ | async"
                [securityError]="securityError$ | async"
                [securityTags]="securityTags$ | async"
                (updateTags)="updateTags($event)"
                (deleteTag)="deleteTag($event)">
            </app-security-editor-tags-viewer>
        </div>
    
        <div class="vertical-flex-full-height" style="flex: 4 0 0">
            <app-security-editor-market-data-viewer
                class="mat-card mat-card-shadow-adjust vertical-flex-full-height" 
                [selectedSID]="selectedSID$ | async"
                [marketData]="marketData$ | async"
                [marketDataLoading]="marketDataLoading$ | async"
                [marketDataLoaded]="marketDataLoaded$ | async"
                [marketDataError]="marketDataError$ | async"

                (selectMarketData)="selectMarketData($event)"
                
                [selectedMDID]="selectedMarketData$ | async"
                [marketDataPoints]="marketDataPoints$ | async"
                [marketDataPointsLoading]="marketDataPointsLoading$ | async"
                [marketDataPointsLoaded]="marketDataPointsLoaded$ | async"
                [marketDataPointsError]="marketDataPointsError$ | async">
            </app-security-editor-market-data-viewer>
        </div>
    </div>


</div>