.material-icons.color_green { color: #42d435; }
.material-icons.color_red { color: #ed553a; }

ul {
  list-style-type: none;
  padding-left: 0px;
}

ul li span {
  float: left;
  width: 80px;
}

.title {
  color: #a7a7a7;
}

.row-headers {
  color: #a7a7a7;  
}