<div style="background-color:white; font-size: 20px;">
    <div style="width: 99vw;background-color:#D3D3D3; height: 10px;"> </div>
    <mat-card-title style="margin-top:20px;"> Process Monitor Feed </mat-card-title>
    <app-base-grid
        class="vertical-flex-full-height"
        style="height: 735px; width: 99vw; margin-top:20px;"
        [gridItems]="data"
        [customGridOption]="customGridOption"
        [customGridCallBack]="customGridCallBack"
        [extraOption]="extraOption">
    </app-base-grid>
</div>
