<div style="padding-left:5px">
    <h4 style="opacity: 0.6;margin-bottom: 0.6rem;">Capital History</h4>
    <mat-form-field class="date-form-field" style="margin-right:10px">
        <mat-label> From </mat-label>
        <input matInput [matDatepicker]="pickerStart" placeholder="From" [value]="getDate(historyInput, 'start')"
            (dateInput)="onActiveDateChanged_debounce($event, 'start')" (dateChange)="onActiveDateChanged_debounce($event, 'start')">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field class="date-form-field" style="margin-left: 0.5rem;margin-right:5px;">
        <mat-label> To </mat-label>
        <input matInput [matDatepicker]="pickerEnd" placeholder="To" [value]="getDate(historyInput, 'end')"
            (dateInput)="onActiveDateChanged_debounce($event, 'end')" (dateChange)="onActiveDateChanged_debounce($event, 'end')">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="fund-form-field">
        <mat-label> Fund </mat-label>
        <mat-select (selectionChange)="onFundChange()" [(ngModel)]="selectedFund">
            <mat-option *ngFor="let fund of fundList" [value]="fund">{{fund}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button type="button" mat-icon-button (click)="changeMode('chart')" color="primary">
        <mat-icon>bar_chart</mat-icon>
    </button>

    <button type="button" mat-icon-button (click)="changeMode('data')" color="primary">
        <mat-icon>grid_on</mat-icon>
    </button>
</div>
<mat-tab-group #tabs class="vertical-flex-full-height" style="flex: 1 0 0">
    <mat-tab [label]="'Fund'" style="flex: 1 0 0;">
        <ng-template matTabContent>

            <div style="width: 100%;text-align: center;">
                <mat-button-toggle-group *ngIf="mode==='chart'" [(ngModel)]="activefundAttribute" style="margin-top: 0.5rem;" (ngModelChange)="onAttributeChange('fund')">
                    <mat-button-toggle *ngFor="let attribute of attributes" [value]="attribute" class="outline-super-shrink">{{attribute}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div [ngSwitch]="mode" style="height: 100%;">

                <div class="loading-screen" *ngIf="fundCapitalHistoryLoading">
                    <mat-spinner></mat-spinner>
                </div>

                <highcharts-chart *ngSwitchCase="'chart'" [Highcharts]="highcharts" [constructorType]="'stockChart'"
                    [options]="chartOptions" [callbackFunction]="callbackFn_fund"
                    style="width: 100%; height: 600px; display: block;">
                </highcharts-chart>

                <app-base-grid *ngSwitchCase="'data'" height="95%" [customGridOption]="customGridOption_fund"
                    [extraOption]="extraOption" [gridItems]="[]" [customGridCallBack]="customGridCallBack_fund">
                </app-base-grid>
            </div>
        </ng-template>

    </mat-tab>

    <mat-tab [label]="'Pod'" style="flex: 1 0 0">
        <ng-template matTabContent>
            <div style="width: 100%;text-align: center;">
                <mat-button-toggle-group *ngIf="mode==='chart'" [(ngModel)]="activePodAttribute" style="margin-top: 0.5rem;" (ngModelChange)="onAttributeChange('pod')">
                    <mat-button-toggle *ngFor="let attribute of attributes" [value]="attribute" class="outline-super-shrink">{{attribute}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div [ngSwitch]="mode" style="height: 100%;">

                <div class="loading-screen" *ngIf="podCapitalHistoryLoading">
                    <mat-spinner></mat-spinner>
                </div>
                <highcharts-chart *ngSwitchCase="'chart'" [Highcharts]="highcharts" [constructorType]="'stockChart'"
                    [options]="chartOptions" [callbackFunction]="callbackFn_pod"
                    style="width: 100%; height: 600px; display: block;">
                </highcharts-chart>

                <app-base-grid *ngSwitchCase="'data'" style="height: 95%" [customGridOption]="customGridOption_pod"
                    [extraOption]="extraOption" [gridItems]="[]" [customGridCallBack]="customGridCallBack_pod">
                </app-base-grid>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>