.mat-drawer-container.side-popup.right-side-popup {
    position: absolute;
    top: 0;
    .mat-sidenav-content {
        transform: translateY(13px);
        background: #334aa9a8;
        border-radius: 6px 0 0 6px;
        button {color: white}
    }
}