.mat-card-lift {
    background-color: white;
    margin: 0.3rem;
    border-radius: 0.5rem;
}

app-client-solutions-fund-statistics-viewer {
    position: relative;
}

app-client-solutions-fund-net-return-viewer {
    position: relative;
}

app-client-solutions-fund-correlation-viewer {
    position: relative;
}

app-client-solutions-fund-timeseries-viewer {
    position: relative;
}

app-client-solutions-fund-drawdown-viewer {
    position: relative;
}

app-client-solutions-fund-histogram-viewer {
    position: relative;
}

app-client-solutions-fund-alpha-beta-viewer {
    position: relative;
}
