<!-- <div *ngIf="loading" class="loading-screen">
    <mat-spinner></mat-spinner>
</div> -->


<small style="font-size: 70%;text-align: right;"><i>{{timeStamp}}</i></small>
<app-base-grid
    style="flex: 1 0 0"
    [gridItems]="data"
    [customGridOption]="customGridOption"
    [extraOption]="extraOption"
    [customGridCallBack]="customGridCallBack">
</app-base-grid>

<!-- <small  class="small-flag" *ngIf="header==='BOC'"><i>**BBG terminal has mis-mapped the quotes to meeting dates by 1 BOC meeting.</i></small> -->