h5 {
    margin: 0.5rem 0.5rem 0.5rem 0;
    opacity: 0.7;
}


.small-flag {
    position: absolute;
    z-index: 121;
    top: 1;
    bottom: 0;
    left: 0.1rem;
    font-size: 60%;
    opacity: 0.7;
    color: red;
}