<div class="top-tool-bar-start">
    <span class="title">PRICE MASTER</span>
</div>

<div style="display:flex; justify-content:flex-end;margin-right:5px;margin-bottom:-10px;margin-top:-22px;">

    <!-- <button mat-icon-button class="mat-button-shrink" color="primary" matTooltip="Save Changes">
                <mat-icon>save</mat-icon>
            </button>

            <button mat-icon-button class="mat-button-shrink" color="primary" matTooltip="Reset Changes">
                <mat-icon>refresh</mat-icon>
            </button> -->

    <form class="search-form">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="CL1 Comdty" autocomplete="off" #search>
        </mat-form-field>
    </form>
</div>