.toolbar-field{
    width: 300px;
}

.active-panel{
    font-style:italic;
    background-color: gainsboro;
}

.active-panel:hover{
    background-color: gainsboro;
}

.inactive-panel{
    background-color: white;
}