* {
    color: #ffffffcf;
}

p {
    word-wrap: break-word
}

h4 {
    margin: 0 0 0.5rem 0
}

i {
    opacity: 0.5;
}

span {
    align-items: center;
    display: flex;
}

.error-item {
    margin: 1rem;
    position: relative;
    background: #00000038;
    padding: 1rem;
    border-radius: 10px;
    border-left: 4px solid #ff408196;
}

*::-webkit-scrollbar-track {
    background: transparent
}

*::-webkit-scrollbar-thumb {
    background: rgb(124 134 202);
}

footer {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    background: #00000061;
    box-shadow: -2px -6px 8px 0px #00000047;
}