#flows-button{
  position: absolute;
  right: -6px;
  top: 0.5rem;
  padding: 0.5rem 0;
  min-width: 0;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 5px;
  border: 1px solid #80808045;
  box-shadow: 2px 3px 7px 0px #80808078;
  opacity: 0.8;
  z-index: 10;
}