.active {
    font-weight: bold;
}

.image {
    display: inline-block;
    width: 50px;
    height: 50px;    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;    
    cursor: pointer;
}

.image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}