.my-drop-zone { 
    border: dotted 3px lightgray; 
    color: rgb(172, 166, 166);
    font-weight: bold;
    padding:20px;
}

.nv-file-over { 
    border: dotted 3px rgb(156, 214, 122); 
    background-color: rgb(237, 250, 230);
} 
