<div *ngIf="!showPct" style="margin-bottom:5px"><b>{{mode === 'readonly' ? 'Current ($)' : mode === 'editable' ? 'Target ($)' : 'Change ($)'}}</b></div>

<div *ngIf="showPct" style="margin-bottom:5px"><b>{{mode === 'readonly' ? 'Current (%)' : mode === 'editable' ? 'Target (%)' : 'Change (%)'}}</b></div>

<app-base-grid style="flex: 1 0 0;"
    [customGridOption]="customGridOption" 
    [extraOption]="extraOption" 
    [gridItems]="[]"
    [customGridCallBack]="customGridCallBack">
</app-base-grid>