div {
    display: inline-block;
    border: 1px solid #80808057;
    border-radius: 9px;
    position: relative;
    top: -4px;
}

.mat-icon-button {
    height: 36px;
    line-height: 36px;
    opacity: 0.7;
}

.mat-menu-item {
    display: flex;
    justify-content: space-between;
}