div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.independent-variable-label {
    color: #ff4081;
}

.dependent-variable-label {
    color: #3f51b5;
}

mat-form-field {
    width: 9rem;
}