.loading-screen-text { 
    color: #828282;
    justify-content: center;
    position: absolute;
    margin-top: 150px;
}

.ag-grid-custom-auto-group-floating-filter {
    position: absolute;
    z-index: 1;
    top: 3.7rem;
    left: 4rem;
    width: 11rem;
}