.fxHedged {
    margin-right: 5px; 
    font-size: 10px;
    color:#aaaaaa;
    font-weight: bold;    
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

.notFxHedged {
    margin-right: 5px; 
    font-size: 10px;
    color: black;
    font-weight: bold;    
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}