
.top-tool-bar-start { 
    margin-left: 5px;
    margin-top: 2px;
}

.order-book-flyout { 
    width: 450px;
}

app-order-book {
    padding: 0 0.5rem 0.25rem 0.5rem
}

app-order-book-history {
    padding: 0.25rem 0.5rem
}

app-order-editor {
    // overflow: auto;
}