<div class="event-analysis-top-edge" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <small *ngIf="bond !== null">OAS Paths - {{ bond?.name }} [{{bond?.cusip}}]</small>
    <i class="material-icons" style="cursor: pointer;" (click)="onCloseClick('close')">close</i>
</div>

<div style=" height: 100%;">
    <div style="height:100%;padding:0.2rem;">
        <app-base-grid width="100%" height="100%" [customGridOption]="customGridOption" [extraOption]="extraOption"
            [gridItems]="[]" [customGridCallBack]="customGridCallBack">
        </app-base-grid>
    </div>
</div>