

<div class="vertical-align-center">
  <mat-form-field appearance="outline" class="outline-shrink" style="margin-right: 10px">
    <mat-select placeholder="Category"  name="category"></mat-select>
  </mat-form-field>
  <button mat-button class="mat-button-shrink" color="primary"><i class="material-icons">save</i></button>
  <button mat-button class="mat-button-shrink" color="accent"><i class="material-icons">refresh</i></button>
  <button mat-button class="mat-button-shrink" color="accent"><i class="material-icons">create_new_folder</i></button>
</div>


<div class="vertical-align-center">
  <mat-form-field appearance="outline" class="outline-shrink" style="width: 49%">
    <mat-select placeholder="GivenType"  name="givenType"></mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="outline-shrink" style="width: 49%">
    <input type="number" matInput placeholder="Value"  name="value">
  </mat-form-field>
</div>



