<!-- <p>
  rcpm-pnl-attribution-layout works!
</p> -->

<div class="vertical-flex-layout-full">


  <mat-form-field style="width: 10rem;">
    <input matInput placeholder="As Of Date" [matDatepicker]="picker"
    [(ngModel)]="activeAsOfDate" (ngModelChange)="asOfDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-rcpm-pnl-attr-viewer
    style="flex: 1 0 0"
    [data]="data$ | async"
    [loadingStatus]="loadingStatus$ | async">
  </app-rcpm-pnl-attr-viewer>
</div>
