.wrapper {
    background-color: white;
    border-radius: 5px;
    height: 150px;
}

.input-wrapper {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 140px;
}

