<div class="wrapper">
    <mat-toolbar class="mat-toolbar-dialog">
        <span class="toolbar-heading"> Portfolio URL Error </span>
    </mat-toolbar>
    <div mat-dialog-actions class="input-wrapper">

        <div style="width: 95%; display:flex;align-items:center;justify-content:center;margin-top:5px;">
            Error loading portfolio from URL, your cached portfolios have been loaded instead.
        </div>

        <div style="margin-top:20px;">
            <button mat-button (click)="cancel()" style="background-color:#f1807e">Cancel</button>
        </div>

    </div>
</div>