<!-- <div style="height:500px;margin:5px;">
    <app-capital-flows
        *ngIf="data.view === 'fundFlows'"
        [fundOrPod]="'Fund'"
        [flowsInput]="capitalFlowsInput$ | async"
        [capitalFlows]="fundCapitalFlows$ | async"
        [capitalFlowsLoading]="fundCapitalFlowsLoading$ | async"
        [capitalFlowsLoaded]="fundCapitalFlowsLoaded$ | async"
        [capitalFlowsError]="fundCapitalFlowsError$ | async"
        (changeFlowsInput)="changeFlowsInput($event)">
    </app-capital-flows>

    <app-capital-flows
        *ngIf="data.view === 'podFlows'"
        [fundOrPod]="'Pod'"
        [flowsInput]="capitalFlowsInput$ | async"
        [capitalFlows]="podCapitalFlows$ | async"
        [capitalFlowsLoading]="podCapitalFlowsLoading$ | async"
        [capitalFlowsLoaded]="podCapitalFlowsLoaded$ | async"
        [capitalFlowsError]="podCapitalFlowsError$ | async"
        (changeFlowsInput)="changeFlowsInput($event)">
    </app-capital-flows>

    <app-capital-history
        *ngIf="data.view === 'fundCapitalHistory'"
        [fundOrPod]="'Fund'"
        [historyInput]="fundCapitalHistoryInput$ | async"
        [history]="fundCapitalHistory$ | async"
        [historyLoading]="fundCapitalHistory$ | async"
        [historyLoaded]="fundCapitalHistory$ | async"
        [historyError]="fundCapitalHistory$ | async">
    </app-capital-history>

    <app-capital-history
        *ngIf="data.view === 'podCapitalHistory'"
        [fundOrPod]="'Pod'">
    </app-capital-history>
</div> -->